chempy==0.8.3
emmet==2018.6.7
emmet_core==0.74.8
matplotlib==3.7.1
mp_api==0.39.3
mp_pyrho==0.3.0
nibabel==5.1.0
numpy==1.26.2
pandas==2.0.0
Pillow==10.1.0
plotly==5.14.1
pymatgen==2023.11.12
pymatgen_analysis_diffusion==2022.7.21
PyRhO==0.9.4
scipy==1.11.4
setuptools==67.6.1
scikit-image==0.22.0
torch==2.0.0
torchvision==0.15.1
torchviz==0.0.2
tqdm==4.65.0
xgboost==2.0.2
